@layer components {
  .wi {
    /* &-fade-enter-active {
      transition: opacity 200ms ease-out;
    }

    &-fade-leave-active {
      transition: opacity 200ms ease-in;
    }

    &-fade-enter-from,
    &-fade-leave-to {
      opacity: 0;
    } */

    /* Spin */
    .animate-spin&-fastest {
      animation: wi-rotate 0.25s linear infinite;
    }

    .animate-spin&-faster {
      animation: wi-rotate 0.5s linear infinite;
    }

    .animate-spin&-fast {
      animation: wi-rotate 0.75s linear infinite;
    }

    .animate-spin&-slow {
      animation: wi-rotate 2s linear infinite;
    }

    .animate-spin&-slower {
      animation: wi-rotate 3s linear infinite;
    }

    .animate-spin&-slowest {
      animation: wi-rotate 4s linear infinite;
    }

    /* Stripe Animation */
    &-stripe&-animate-right {
      animation: wi-animate-right 1s linear infinite;
    }

    &-stripe&-animate-right&-fastest {
      animation: wi-animate-right 0.25s linear infinite;
    }

    &-stripe&-animate-right&-faster {
      animation: wi-animate-right 0.5s linear infinite;
    }

    &-stripe&-animate-right&-fast {
      animation: wi-animate-right 0.75s linear infinite;
    }

    &-stripe&-animate-right&-slow {
      animation: wi-animate-right 2s linear infinite;
    }

    &-stripe&-animate-right&-slower {
      animation: wi-animate-right 3s linear infinite;
    }

    &-stripe&-animate-right&-slowest {
      animation: wi-animate-right 4s linear infinite;
    }
  }

  @keyframes wi-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes wi-animate-right {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
}
