@layer components {
  .wi {
    &-line {
      @apply flex items-center justify-center;
      > div[name='line'] {
        @apply border-t flex-grow border-black border-opacity-10 dark:border-white dark:border-opacity-20;
      }
    }
  }
}
