@layer components {
  .wi {
    &-textinput {
      @apply relative flex gap-2 items-center rounded py-2 px-3
      focus-within:border-primary focus-within:!border-opacity-100;

      label {
        @apply absolute top-2 block text-xs pointer-events-none text-opacity-40 dark:text-opacity-40;
      }

      input,
      textarea {
        @apply bg-transparent focus:outline-none h-full w-full resize-none py-1;
      }

      label ~ input,
      label ~ textarea {
        @apply pt-5;
      }
    }

    &-textinput-error {
      @apply !border-red-600 
      focus-within:!border-red-600 focus-within:!border-opacity-100;

      label {
        @apply !text-red-600 dark:!text-red-400 !text-opacity-100 dark:!text-opacity-100;
      }
    }

    &-textinput-disabled {
      @apply opacity-20 dark:opacity-30;

      label {
        @apply text-opacity-40 dark:text-opacity-40 -mb-1;
      }
    }
  }
}
