@layer components {
  .wi {
    &-avatar {
      @apply w-12 h-12 min-w-12 min-h-12 max-w-12 max-h-12 text-xl font-bold;
      > * {
        @apply w-full h-full flex justify-center items-center;
      }

      &[size='sm'] {
        @apply w-8 h-8 min-w-8 min-h-8 max-w-8 max-h-8 text-sm font-bold;
      }
      &[size='lg'] {
        @apply w-20 h-20 min-w-20 min-h-20 max-w-20 max-h-20 font-medium text-4xl;
      }
      &[size='xl'] {
        @apply w-32 h-32 min-w-32 min-h-32 max-w-32 max-h-32 text-7xl font-light;
      }
    }
  }
}
