@layer components {
  .sa {
    /* Default */
    &-btn {
      @apply inline-flex items-center justify-center cursor-pointer
        px-4 py-1 font-medium rounded-md
        transform duration-150 active:scale-90
        min-h-9
        focus:outline-none
        focus:ring-4
        focus:ring-primary
        focus:ring-opacity-50
        focus:ring-offset-1;

      /* Icon */
      &-icon, &[icon]:not([icon='false']) {
        @apply p-0 rounded-full min-w-9;
      }

      /* Sizes */
      &.sa-xs, &[size='xs'] {
        @apply px-2 leading-0 text-xs min-h-5;
        &[icon] {
          @apply w-5 h-5;
        }
      }
      &.sa-sm, &[size='sm'] {
        @apply px-3 leading-0 text-sm min-h-8;
        &[icon] {
          @apply w-8 h-8;
        }
      }
      &.sa-lg, &[size='lg'] {
        @apply px-6 min-h-12 text-lg;
        &[icon] {
          @apply w-12 h-12;
        }
      }
      &.sa-xl, &[size='xl'] {
        @apply px-8 min-h-14 text-xl;
        &[icon] {
          @apply w-14 h-14;
        }
      }

      /* No Scale */
      &&-scale-none, &[scale='none'] {
        @apply transition-none active:scale-100;
      }

      /* Disabled */
      &&-disabled, &[disabled]:not([disabled='false']) {
        @apply scale-100 cursor-default 
      !border-dark-900 dark:!border-dark-900
      !bg-dark-300 !text-dark-600 opacity-20;
      }
    }

    /* Link */
    &-link {
      @apply hover:cursor-pointer hover:underline rounded;
    }

    /* Button Group */
    &-btn-group &-btn {
      @apply !rounded-none;
    }
    &-btn-group > &-btn:first-child,
    &-btn-group > :first-child &-btn {
      @apply !rounded-l;
    }
    &-btn-group > &-btn:last-child,
    &-btn-group > :last-child &-btn {
      @apply !rounded-r;
    }
  }
}
