@layer components {
  .sa {
    &-carousel {
      @apply flex overflow-x-scroll;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        @apply hidden;
      }
      &[direction="vertical"], &.direction-vertical {
        @apply flex-col overflow-x-hidden overflow-y-scroll;
        scroll-snap-type: y mandatory;
      }
      &-item {
        @apply flex flex-none box-content;
        scroll-snap-align: start;
      }
    }
    /* &-center &-item {
      scroll-snap-align: center;
    }
    &-end &-item {
      scroll-snap-align: end;
    } */
  }
}
