@layer components {
  .sa {
    &-codeinput {
      @apply flex gap-2 items-center !border-none !bg-transparent;
      
      input {
        @apply w-11
        h-11
        rounded-md
        text-center text-2xl
        font-extrabold
        uppercase
        bg-transparent;
      }

      div[name='separator'] {
        @apply font-bold text-lg text-center;
        &::after {
          content: '-';
        }
      }
    }
  }
}
