@layer components {
  .sa {
    &-dropdown {
      @apply relative inline-block z-10;

      &-enter-active,
      &-leave-active {
        transition: opacity 0.3s ease;
      }

      &-enter-from,
      &-leave-to {
        opacity: 0;
      }
    }
  }
}
