@layer components {
  .wi {
    &-overlay {
      @apply fixed top-0 left-0 w-full h-full overflow-y-auto;
    }
    &-overlay-top {
      @apply fixed top-0 left-0 w-full;
    }
    &-overlay-left {
      @apply fixed top-0 left-0 h-full;
    }
    &-overlay-right {
      @apply fixed top-0 right-0 h-full;
    }
    &-overlay-bottom {
      @apply fixed bottom-0 left-0 w-full;
    }
    &-overlay-center {
      @apply fixed top-0 left-0 w-full h-full flex sm:items-center justify-center overflow-auto pointer-events-none;
    }
    &-overlay-top > *,
    &-overlay-left > *,
    &-overlay-right > *,
    &-overlay-bottom > *,
    &-overlay-center > * {
      @apply pointer-events-auto;
    }

    /* Use this class to contain overlay inside parent */
    &-overlay-absolute > &-overlay,
    &-overlay-absolute > &-overlay-top,
    &-overlay-absolute > &-overlay-left,
    &-overlay-absolute > &-overlay-right,
    &-overlay-absolute > &-overlay-bottom,
    &-overlay-absolute > &-overlay-center {
      @apply absolute;
    }

    /* Use this class to share overlay with content */
    &-overlay-relative > &-overlay,
    &-overlay-relative > &-overlay-top,
    &-overlay-relative > &-overlay-left,
    &-overlay-relative > &-overlay-right,
    &-overlay-relative > &-overlay-bottom,
    &-overlay-relative > &-overlay-center {
      @apply relative;
    }

    /* Default opacity */
    &-overlay-shade > &-overlay {
      @apply bg-dark-900 bg-opacity-30 dark:bg-opacity-60;
    }

    /* Overlay */
    &-overlay-enter-active,
    &-overlay-leave-active {
      transition: opacity 0.3s ease;
    }

    &-overlay-enter-from,
    &-overlay-leave-to {
      opacity: 0;
    }

    /* Overlay Center */
    &-overlay-center-enter-active {
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }

    &-overlay-center-leave-active {
      transition: opacity 0.2s ease-out, transform 0.2s ease-in;
    }

    &-overlay-center-enter-from,
    &-overlay-center-leave-to {
      transform: translateY(20px);
      opacity: 0;
    }

    /* Overlay Left */
    &-overlay-left-enter-active {
      transition: transform 0.2s ease-out;
    }

    &-overlay-left-leave-active {
      transition: transform 0.2s ease-in;
    }

    &-overlay-left-enter-from,
    &-overlay-left-leave-to {
      transform: translateX(-100%);
    }

    /* Overlay Right */
    &-overlay-right-enter-active {
      transition: transform 0.2s ease-out;
    }

    &-overlay-right-leave-active {
      transition: transform 0.2s ease-in;
    }

    &-overlay-right-enter-from,
    &-overlay-right-leave-to {
      transform: translateX(100%);
    }

    /* Overlay Bottom */
    &-overlay-bottom-enter-active {
      transition: transform 0.2s ease-out;
    }

    &-overlay-bottom-leave-active {
      transition: transform 0.2s ease-in;
    }

    &-overlay-bottom-enter-from,
    &-overlay-bottom-leave-to {
      transform: translateY(100%);
    }

    /* Overlay Top */
    &-overlay-top-enter-active {
      transition: transform 0.2s ease-out;
    }

    &-overlay-top-leave-active {
      transition: transform 0.2s ease-in;
    }

    &-overlay-top-enter-from,
    &-overlay-top-leave-to {
      transform: translateY(-100%);
    }
  }
}
