@layer components {
  .sa {
    &-pagination {
      @apply flex items-center;

      button[link] {
        @apply font-bold w-10 min-w-10 bg-transparent cursor-pointer;

        &[active='true'] {
          @apply bg-primary hover:bg-primary-dark text-white rounded h-8 w-5;
        }
      }

      div[name='more'] {
        @apply flex flex-col w-10 min-w-10 font-bold text-center;

        [name='page'] {
          @apply hidden;
        }

        &[active='true'] {
          @apply flex justify-center h-8 bg-primary text-white rounded;

          [name='page'] {
            @apply block text-sm leading-tight -mb-2;
          }

          [name='dots'] {
            @apply text-xs leading-tight;
          }
        }
      }

      button[left] {
        @apply flex items-center justify-center rounded h-8 w-6 min-w-6 mr-2;
        &[disabled] {
          @apply opacity-20 pointer-events-none;
        }
      }

      button[right] {
        @apply flex items-center justify-center rounded h-8 w-6 min-w-6 ml-2;
        &[disabled] {
          @apply opacity-20 pointer-events-none;
        }
      }
    }
  }
}
