@layer components {
  .sa {
    &-resizer {
      @apply relative;

      .resizer-handle {
        @apply absolute flex items-center justify-center bg-dark-600 text-dark-200;
      }
    }

    &-resizer.width {
      @apply pr-5;

      .resizer-handle {
        @apply top-0 right-0 w-5 h-full;
        cursor: ew-resize;
      }
    }

    &-resizer.height {
      @apply pb-5;

      .resizer-handle {
         @apply bottom-0 left-0 h-5 w-full;
        cursor: ns-resize;
      }
    }

    &-resizer.both {
      @apply p-0;

      .resizer-handle {
        @apply bottom-0 right-0 h-5 w-5;
        cursor: nwse-resize;
      }
    }
  }
}
