@layer components {
  .sa {
    &-select {
      @apply relative flex gap-2 items-center rounded py-2 px-3
      focus-within:border-primary focus-within:!border-opacity-100;

      label {
        @apply absolute top-2 block text-xs pointer-events-none text-black 
        dark:text-white text-opacity-40 dark:text-opacity-40;
      }

      select {
        @apply bg-transparent focus:outline-none h-full w-full text-black dark:text-white resize-none py-1 -ml-1;
      }

      label ~ select {
        @apply pt-5;
      }
    }
    &-select-error {
      @apply !border-red-600 
    focus-within:!border-red-600 focus-within:!border-opacity-100;

      label {
        @apply !text-red-600 dark:!text-red-400 !text-opacity-100 dark:!text-opacity-100;
      }
    }

    &-select-disabled {
      @apply opacity-50;

      label {
        @apply text-dark-900 dark:text-white text-opacity-40 dark:text-opacity-40 -mb-1;
      }
    }
  }
}
