/* https://www.cssportal.com/style-input-range/ */
@layer components {
  .sa-slider-sm {
    @apply relative w-full h-3;

    input[type='range'] {
      @apply absolute pointer-events-none appearance-none z-1 w-full h-3 opacity-0 cursor-pointer;
      transform: translateY(-50%);
    }

    input[type='range']::-webkit-slider-runnable-track {
      @apply w-full h-full cursor-pointer;
    }

    input[type='range']::-webkit-slider-thumb {
      @apply h-3 w-3 pointer-events-auto appearance-none;
    }

    &-track {
      @apply absolute left-0 w-full h-1 flex items-center rounded-full bg-gray-100 dark:bg-gray-700;
    }

    &-highlight {
      @apply absolute h-full h-1 bg-light-blue-400 rounded-full;
    }

    &-thumb {
      @apply absolute h-3 w-3 bg-white rounded-full filter drop-shadow;
    }
  }

  .sa-slider {
    @apply relative w-full h-5;

    input[type='range'] {
      @apply absolute pointer-events-none appearance-none z-1 w-full h-5 opacity-0 cursor-pointer;
      transform: translateY(-50%);
    }

    input[type='range']::-webkit-slider-runnable-track {
      @apply w-full h-full cursor-pointer;
    }

    input[type='range']::-webkit-slider-thumb {
      @apply h-5 w-5 pointer-events-auto appearance-none bg-red-500;
    }

    &-track {
      @apply absolute left-0 w-full h-2 flex items-center rounded-full bg-gray-100 dark:bg-gray-700;
    }

    &-highlight {
      @apply absolute h-full h-2 bg-light-blue-400 rounded-full;
    }

    &-thumb {
      @apply absolute h-5 w-5 bg-white rounded-full filter drop-shadow;
    }
  }

  .sa-slider-lg {
    @apply relative h-8;

    input[type='range'] {
      @apply absolute pointer-events-none appearance-none z-1 w-full h-8 opacity-0 cursor-pointer;
      transform: translateY(-50%);
    }

    input[type='range']::-webkit-slider-runnable-track {
      @apply w-full h-full cursor-pointer;
    }

    input[type='range']::-webkit-slider-thumb {
      @apply h-8 w-8 pointer-events-auto appearance-none;
    }

    &-track {
      @apply absolute left-0 w-full h-4 flex items-center rounded-full bg-gray-100 dark:bg-gray-700;
    }

    &-highlight {
      @apply absolute h-full h-4 bg-light-blue-400 rounded-full;
    }

    &-thumb {
      @apply absolute h-8 w-8 bg-white rounded-full filter drop-shadow;
    }
  }

  .sa-slider-xl {
    @apply relative h-10;

    input[type='range'] {
      @apply absolute pointer-events-none appearance-none z-1 w-full h-10 opacity-0 cursor-pointer;
      transform: translateY(-50%);
    }

    input[type='range']::-webkit-slider-runnable-track {
      @apply w-full h-full cursor-pointer;
    }

    input[type='range']::-webkit-slider-thumb {
      @apply h-10 w-10 pointer-events-auto appearance-none;
    }

    &-track {
      @apply absolute left-0 w-full h-5 flex items-center rounded-full bg-gray-100 dark:bg-gray-700;
    }

    &-highlight {
      @apply absolute h-full h-5 bg-light-blue-400 rounded-full;
    }

    &-thumb {
      @apply absolute h-10 w-10 bg-white rounded-full filter drop-shadow;
    }
  }
}
