@layer components {
  .sa {
    &-spinner {
      @apply inline-block border-2 border-current border-t-transparent border-r-transparent 
      rounded-full w-12 h-12 min-w-12 min-h-12 align-middle;
    }
  }
}
