@layer components {
  .wi {
    /* Position */
    &-tl {
      left: 0;
      top: 0;
    }

    &-tc {
      top: 0;
      left: 50%;
      transform: translateX(-50%) !important;
    }

    &-tr {
      top: 0;
      right: 0;
    }

    &-ml {
      top: 50%;
      transform: translateY(-50%) !important;
      left: 0;
    }

    &-mc {
      top: 50%;
      transform: translate(-50%, -50%) !important;
      left: 50%;
    }

    &-mr {
      top: 50%;
      transform: translateY(-50%) !important;
      right: 0;
    }

    &-bl {
      bottom: 0;
      left: 0;
    }

    &-bc {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) !important;
    }

    &-br {
      bottom: 0;
      right: 0;
    }

    &-center {
      @apply flex items-center justify-center;
    }
  }
}
